.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 20px;
}

.big-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(78, 79, 80);
  border-radius: 15px;
}
.next-game {
  position: relative;
  background-color: rgba(126, 122, 122, 0.8);
  border-radius: 10px;
}

.next-game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;

  height: 100%;
  background-color: rgba(
    109,
    106,
    106,
    0.8
  ); /* Set the desired background color */
  animation: loadingAnimation 5s linear forwards;
  z-index: 1;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.trending_left_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.column {
  margin-left: 10px;
}
